*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.header{
    display: flex;
}
.container{
    align-items: center;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-around;
}
.header-logo{
    display: flex;
    font-family: Fraunces;
    font-weight: 900;
    line-height: 24px;
    color: #333D4B;
    width: 170px;
    gap: 8px;
}
.header-logo__img{
    width: 24px;
    height: 24px;
}
.header-link{
    font-family:Barlow;
    font-weight: 700;
    color: #83888F;
    font-size: 12px;
    font-weight: 15px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.header-link__item{
    color: #83888F;
}
.box-img{
    background-image: url(../images/background-image.png);
    margin: 0 auto;
    width: 1280px;
    height: 600px;
    background-repeat: no-repeat;
    text-align: left;
    
}
.img-front__tetxt{
    margin-left: 90px;
    width: 493px;
    height: 367px;
    padding-top: 70px;
}
.box-text__h1{
    width: 493px;
    height: 145px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}
.box-text__p{
    width: 445px;
    height: 78px;
    opacity: 80%;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-bottom: 56px;
}
.box__button{
    padding: 15px 31px;
    border-radius: 6px;
    background-color:#0E8784;
    width: 217px;
    height: 56px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
}
.main{
    margin-top: 100px;
    text-align: center;
}
.main-text{ 
    font-family: Fraunces;
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    background: -webkit-linear-gradient(
    #83888F, #FEFCF7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.center-main{
    width: 255px;
    margin: 0 auto;
}
.img-main{
    text-align: center;
    gap: 30px;
    display: flex;
    margin-top: -180px;
}
.center-main-img{
    width: 234px;
    height: 177px;
    
}
.center-main-h{
    margin-top: 71px;
    margin-bottom: 24px;
    height: 32px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}
.center-main-p{
    height: 78px;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.center-larg{
    background-color: #333D4B;
    width: 1300px;
    height: 550px;
    border-radius: 8px;
    padding-top: 100px;
    margin: 0 auto;
}
.box-larg{
    text-align: center;
}
.larg__text-h{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    margin-bottom: 50px;
}
.larg__text-p{
    margin: 0 auto;
    width: 540px;
    height: 80px;
    opacity: 80%;
    font-family: Barlow;
    line-height: 26px;
    color: #FEFCF7;
    
}
.boxs{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 86px;
}
.box__text-img{
    text-align: center;
    width: 350px;
    height: 382px;
    border-radius: 8px;
    background-color: #0E8784;
    text-align: center;
    padding: 60px 0;
}
.box__text-h{
    margin-top: 56px;
    margin-bottom: 24px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
    
}
.box__text-p{
    width: 255px;
    height: 78px;
    font-family: Barlow;
    line-height: 26px;
    color: #FEFCF7;
    margin: 0 auto;
}
.nav-last__text{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    margin-top: 400px;
    color:#83888F;
}
.circle-line{
    display: flex;
}
.circle{
    width: 31px;
    height: 31px;
    border-radius: 100%;
    border: 2px solid #0E8784;
}
.line{
    width: 365px;
    height: 31px;
    border-bottom: 2px solid #FDD6BA;
    justify-content: center;
}
.nav-last-box{
    display: flex;
    gap: 95px;
    justify-content: center;
}
.nav-last-text{
    margin-top: 200px;
}
.nav-last-h1{
    width: 90px;
    height: 72px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}
.nav-last-h2{
    margin-top: 38px;
    width: 255px;
    height: 73px;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}
.nav-last-link{
    margin-left: 150px;
    width: 217px;
    height: 56px;
    border-radius: 6px;
    background-color: #0E8784;
    padding: 15px 31px;
    font-family: Fraunces;
    color: #FEFCF7;
    font-weight: 900;
    font-style: 18px;
    line-height: 25px;
}
.nav-last-p{
    width: 285px;
    height: 130px;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    margin-top: 42px;
    margin-bottom: 79px;
}
.footer{
    align-items: center;
    width: 1300px;
    height: 120px;
    background-color:#2C343E;
    margin: 0 auto;
    margin-top: 216px;
    border-radius: 2px;
    display: flex;
    justify-content: space-around;
}
.footer-logo__text{
    font-family: Fraunces;
    font-weight: 900;
    font-size: 30px;
    line-height: 24px;
    color: white;
}
.footer-icons-link{
    margin-left: 24px;
}